$messageDistance : 16px;

.ChatPanelHolder{
      height: calc(100% - 110px);
      border-left: 1px solid #eaeaea;
      background-color: #E5DDD6;
      overflow-y: scroll;
      padding-bottom: 13px;
      // background-image: url('./images/whatsapp-bg.png');
}

.time{
  font-size: 10px;
  padding:10px 0 0 10px;
}

.msg{
  padding: 6px 7px 8px 9px;
  color: #000;
  min-width: 110px;
  max-width: 65%;
}

.user_style_0{
  overflow: hidden;
  width: 100%;
  > .msg{
      float: right;
      background-color: #dcf8c6;
      margin: 16px $messageDistance 0 0;
  }
}

.user_style_1{
  overflow: hidden;
  width: 100%;
  > .msg{
      float: left;
      background-color: #fff;
      margin: 16px 0 0 $messageDistance;
  }
}
