.ChatInputHolder{
    align-items: flex-end;
    webkit-align-items: flex-end;
    display: flex;
    display: webkit-flex;
    padding: 15px;
    background-color: #f5f1ee;
}

.emojiContainer{

}

.inputContainer{
  flex: 1 1 auto;
  input{
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    margin-left: 8px;
  }
}

.user_style1{
  
}
