.search {
  background-color: #fbfbfb;
  padding: 6px 16px; }

.searchInputHolder {
  position: relative;
  overflow: hidden; }
  .searchInputHolder input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #efefef;
    padding: 6px 0 6px 24px; }
    .searchInputHolder input::placeholder {
      color: #a8a8a8;
      font-size: 12px;
      padding-left: 10px; }

.searchIcon {
  display: inline-block;
  padding: 0;
  position: absolute;
  z-index: 9;
  background-color: transparent;
  top: 6px;
  border-radius: 20px;
  left: 1px;
  cursor: pointer; }
