*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.fullHeight{
  height: 100%;
}

.InlineBlock{
  display: inline-block;
}

#id{
  height: 100%;
}
